<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-BMSWER6PJW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-BMSWER6PJW')
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Alec Bielanos | Web Architect" />
    <meta
      name="description"
      content="A developer of all things online. Specializing in custom CMS integration, monolithic web apps, and REST API development, and Accessibility Audits."
    />
    <meta
      name="keywords"
      content="developer, freelance, hci, recruiting, concrete5, concretecms, ux, accessibility, wcag, 508, web app, web developer, custom cms, wordpress, looking for work"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Alec Bielanos" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link href="./css/main.min.css" rel="stylesheet" type="text/css" />
    <title>Alec Bielanos | Web Architect</title>
  </head>
  <body @vue:mounted="handleOnMount" class="loading">
    <script>
      0
    </script>
    <div class="lds-ellipsis" aria-hidden="true">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <header>
      <nav title="Main">
        <ul>
          <li class="logo-lockup">
            <span class="logo-text">Alec Bielanos | Web Architect</span>
          </li>
        </ul>
        <button
          id="nav_toggle"
          aria-controls="nav_items"
          :aria-expanded="store.navOpen"
          role="dropdown"
          @click="store.navOpen = !store.navOpen"
        >
          <i class="icon-list" aria-hidden="true"></i
          ><span class="sr">Toggle Navigation</span>
        </button>
        <ul id="nav_items">
          <li><a href="#section_about">About</a></li>
          <li><a href="#section_resume">Work</a></li>
          <li><a href="#section_academics">Academics</a></li>
          <li><a href="#section_projects">Projects</a></li>
          <li><a href="#section_contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="hero">
        <h1>
          <span>Innovating the next generation of</span>
          <span class="rotator">
            <span class="slot1">{{store.content.generic.hero_rotator[2]}}</span>
            <span class="slot2">{{store.content.generic.hero_rotator[3]}}</span>
            <span class="slot3">{{store.content.generic.hero_rotator[0]}}</span>
            <span class="slot4">{{store.content.generic.hero_rotator[1]}}</span>
          </span>
        </h1>
      </div>
      <div id="section_about" class="container about">
        <div class="about-image-wrapper">
          <img
            class="headshot"
            src="https://files.ab-web.dev/img/headshot_feb24.jpg"
            alt="An image of Alec"
          />
        </div>
        <div class="about-text-wrapper">
          <h2
            v-effect="$el.innerHTML = store.content.generic.about.heading"
          ></h2>
          <div
            v-effect="$el.innerHTML = store.content.generic.about.body"
          ></div>
        </div>
      </div>
      <div id="section_resume" class="container resume">
        <h2 class="bars">My Stack</h2>
        <p>
          The technologies you might find me using in my professional and
          personal projects.
        </p>
        <ul class="stack-key">
          <li class="proficient">
            <i class="icon-check2" aria-hidden="true"></i>Proficient
          </li>
          <li class="learning">
            <i class="icon-dash-lg" aria-hidden="true"></i>Actively Learning
          </li>
          <li class="want-to-learn">
            <i class="icon-question-lg" aria-hidden="true"></i>Highly Motivated
            to Learn
          </li>
        </ul>
        <div class="stack-grid">
          <template v-for="(i, key) in store.content.my_stack">
            <article class="stack-card">
              <header>{{ store.util.getTitleCase(key) }}</header>
              <ul v-if="i.proficient">
                <template v-for="j in i.proficient">
                  <li class="proficient">
                    <i class="icon-check2" aria-hidden="true"></i>{{ j.name }}
                    <br v-if="j.subtext" /><small v-if="j.subtext"
                      >{{ j.subtext }}</small
                    >
                  </li>
                </template>
              </ul>
              <ul v-if="i.learning">
                <template v-for="j in i.learning">
                  <li class="learning">
                    <i class="icon-dash-lg" aria-hidden="true"></i>{{ j.name }}
                    <br v-if="j.subtext" /><small v-if="j.subtext"
                      >{{ j.subtext }}</small
                    >
                  </li>
                </template>
              </ul>
              <ul v-if="i.motivated">
                <template v-for="j in i.motivated">
                  <li class="want-to-learn">
                    <i class="icon-question-lg" aria-hidden="true"></i>{{ j.name
                    }} <br v-if="j.subtext" /><small v-if="j.subtext"
                      >{{ j.subtext }}</small
                    >
                  </li>
                </template>
              </ul>
            </article>
          </template>
        </div>
      </div>
      <div class="container projects">
        <h2 class="bars">My Work</h2>
        <p class="text-center">
          A brief history of my industry experience, academics, and personal
          projects.
        </p>
        <h3 class="sr">Experience</h3>
        <div class="experience-wrapper">
          <div class="workplace">
            <h4>The WORX Group, LLC</h4>
            <p>Prospect, CT</p>
          </div>
          <div>
            <h5>Developer</h5>
            <p class="work-time">January 2019 &mdash; July 2021</p>
            <ul>
              <li>
                Created a reusable, responsive, accessible website navigation
                template inside ConcreteCMS.
              </li>
              <li>
                Managed the audit, CMS updates, and migration of 52 websites to
                new hosting environments for a large insurance company.
              </li>
              <li>
                Rapidly prepared and implemented solutions to resolve security
                vulnerabilities.
              </li>
              <li>
                Developed new processes for server initialization for WordPress
                websites.
              </li>
            </ul>
            <h5>Digital Production Assistant</h5>
            <p class="work-time">August 2018 &mdash; January 2019</p>
            <ul>
              <li>
                Worked with graphic designers and marketing specialists to
                develop website improvements given a fixed, limited budget.
              </li>
              <li>
                Translated graphic design mockups in Adobe XD into reusable CMS
                components (ConcreteCMS blocks) used in the construction of new
                websites.
              </li>
              <li>
                Wrote scripts to quickly identify outdated hosting, email, and
                DNS settings across over 150 websites in a shared hosting
                environment.
              </li>
            </ul>
            <h5>Digital Technology Intern</h5>
            <ul>
              <li>
                Performed code optimizations on a semi-daily data import script,
                reducing execution time from over 2 hours to approximately 45
                minutes.
              </li>
              <li>
                Led development efforts of a new internal tool to catalog and
                manage website hosting and billing information for over 150
                websites.
              </li>
              <li>
                Provided agency with recommendations based on research into
                state-of-the-art accessibility and code standards.
              </li>
            </ul>
          </div>
          <div class="workplace">
            <h4>iD Tech Camps</h4>
            <p>Danbury, CT</p>
          </div>
          <div>
            <h5>Instructor</h5>
            <p class="work-time">June 2016 &mdash; August 2016</p>
            <ul>
              <li>
                Instructed students ages 12 to 17 on introductory to advanced
                concepts in both the C++ and Java programming languages.
              </li>
              <li>
                Engineered a starter code package to assist with Processing
                (Java) instruction.
              </li>
              <li>
                Worked closely with other instructors, Health and Safety
                coordinator, and Camp Director to ensure a safe and fun learning
                environment for children ages 6 to 17.
              </li>
            </ul>
          </div>
        </div>
        <h3 id="section_academics">Education</h3>
        <div class="education-wrapper">
          <div class="edu-card">
            <h4>Rochester Institute of Technology</h4>
            <p>
              Master of Science, Human-Computer Interaction<br />
              January 2022 &mdash; May 2024<br />
              GPA: 3.83
            </p>
          </div>
          <div class="edu-card">
            <h4>Rochester Institute of Technology</h4>
            <p>
              Bachelor of Science, Game Design and Development<br />
              August 2014 &mdash; May 2018<br />
              GPA: 3.67
            </p>
          </div>
        </div>

        <h4>Academic Work</h4>
        <ul class="academic-work" v-if="store.content.academic_work">
          <template v-for="i in store.content.academic_work">
            <li class="academic-work-item">
              <span
                ><span v-effect="$el.innerHTML = i.title"></span><br /><small
                  v-effect="$el.innerHTML = i.subtitle"
                ></small
              ></span>
              <div class="btn-group">
                <template v-for="j in i.links">
                  <a
                    role="button"
                    :href="j.link"
                    target="_blank"
                    :data-tooltip="j.tooltip"
                  >
                    <i :class="j.icon" aria-hidden="true"></i>
                    <span class="mobile-title" aria-hidden="true"
                      >&nbsp;{{ j.type }}</span
                    >
                    <span class="sr">View {{ i.title }} in a new tab.</span>
                  </a>
                </template>
              </div>
            </li>
          </template>
        </ul>

        <h3 id="section_projects">Personal Projects</h3>
        <div class="projects-grid">
          <template v-for="i in store.content.personal_projects">
            <article class="project-wrapper">
              <header>
                <img :src="i.image.src" :alt="i.image.alt" />
              </header>
              <h4 v-effect="$el.innerHTML = i.title"></h4>
              <p v-effect="$el.innerHTML = i.desc"></p>
              <footer>
                <template v-for="j in i.links">
                  <a
                    role="button"
                    :href="j.url"
                    class="button project-button"
                    target="_blank"
                    v-effect="j.url ? null : $el.setAttribute('disabled', true)"
                    ><i :class="j.icon" aria-hidden="true"></i
                    >&nbsp;{{j.text}}</a
                  >
                </template>
              </footer>
            </article>
          </template>
        </div>
      </div>
      <div id="section_contact" class="cta">
        <div class="container">
          <h2 class="text-center">Connect With Me</h2>
          <p class="text-center">Let&apos;s see what we can create together.</p>
          <form @submit.prevent="handleSocialLinks" id="social_links_form">
            <input type="hidden" id="hhpp" value="" />
            <ul class="social-links">
              <li>
                <button
                  data-tooltip="Send me an Email"
                  type="submit"
                  id="bt_em"
                  class="social-link"
                >
                  <i class="icon-envelope" aria-hidden="true"></i
                  ><span class="sr">Send Alec an Email</span>
                </button>
              </li>
              <li>
                <button
                  data-tooltip="View my LinkedIn profile"
                  type="submit"
                  id="bt_li"
                  class="social-link"
                >
                  <i class="icon-linkedin" aria-hidden="true"></i
                  ><span class="sr">View Alec&apos;s LinkedIn Page</span>
                </button>
              </li>
              <li>
                <button
                  data-tooltip="View my BitBucket page"
                  type="submit"
                  id="bt_gh"
                  class="social-link"
                >
                  <i class="icon-git" aria-hidden="true"></i
                  ><span class="sr">View Alec&apos;s BitBucket Page</span>
                </button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <p>Copyright &copy; 2024 Alec Bielanos.</p>
      </div>
    </footer>
    <script src="./js/main.min.js" type="module"></script>
  </body>
</html>
